<nav class="page-sidebar--single">
  <h4 class="account-navigation-heading">My Account</h4>
  <ul class="navigation account-navigation">
    {% for link in linklists['account'].links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
