<button type="button" class="btn--link site-header__search-toggle js-drawer-open-top d-xl-none">
  {% include 'icon-search' %}
  <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
</button>

<div id="search-form-desktop" class="d-none d-xl-inline-block">
  {% render 'search-form' %}
</div>
