<div class="col-md-15">
  <a class="technology-single" href="{{ url }}" style="background-image:url({{ image | img_url:'800x' }});">
    <div class="tech-icon tech-icon--{{ handle | handleize }}"></div>
    <div class="technology-single--meta">
      <h4>{{ title }}</h4>
    </div>
  </a>
</div>
