<div class="container section-push">
  <div class="row justify-content-center">
    <article class="col-xxl-30 col-lg-40 col-md-50 rte text-center">
      {{ page.content }}
    </article>
  </div>
</div>

{% section 'page-template--sustainability-parts' %}

{% section 'page-template--sustainability-future' %}

{% section 'page-template--sustainability-more' %}
